<!DOCTYPE html>
<html>

<head>

<title>AI Crop Protection System</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>


<body>

<h1>AI Based Crop Protection System</h1>


<div class="card">

<h2>📷 Live Camera</h2>


<video id="camera"
width="600"
height="400"
autoplay>
</video>


<br><br>

<button onclick="startCamera()">
Start Camera
</button>


</div>



<div class="card">

<h2>🐄 Animal Detection</h2>


<p>Animal : {{ animal }}</p>

<p>Confidence : {{ confidence }}</p>

<p>Status : {{ status }}</p>


</div>




<div class="card">

<h2>💧 Water Management</h2>


<p>
Soil Moisture : {{ soil }}
</p>


<p>
Pump Status : {{ pump }}
</p>


</div>



<a href="/history">

<button>
Detection History
</button>

</a>


<a href="/water_history">

<button>
Water History
</button>

</a>



<script>

<script>

let video = document.getElementById("camera");


function startCamera(){


navigator.mediaDevices.getUserMedia({

video:true

})


.then(function(stream){


video.srcObject = stream;


setInterval(sendFrame, 1000);


})


.catch(function(error){


alert("Camera permission denied");


});


}



function sendFrame(){


let canvas = document.createElement("canvas");


canvas.width = video.videoWidth;

canvas.height = video.videoHeight;



let context = canvas.getContext("2d");


context.drawImage(
video,
0,
0,
canvas.width,
canvas.height
);



canvas.toBlob(function(blob){


let formData = new FormData();


formData.append(
"frame",
blob,
"frame.jpg"
);



fetch("/detect",{

method:"POST",

body:formData

})


.then(response=>response.json())


.then(data=>{


console.log(data);



});


}, "image/jpeg");



}



</script>
</body>
</html>

